.form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170vh;
    background: linear-gradient(
        rgba(255, 255, 255, 0.03),
        rgba(255, 255, 255, 0.11)
      ),
      url("./assets/images/form_backgroung.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .register-form{
      background-color: white;
      padding: 0px 110px;
      border-radius: 10px;
  }
  
  .register-form h1{
      color: rgb(87, 3, 87);
      text-align: center;
  }
  
  .register-form button{
      width: 100%;
      height: 40px;
      padding: 10px;
      border: none;
      background-color: rgb(48, 3, 78);
      color: white;
      border-radius: 5px;
      font-weight: bold;
      font-size: 18px;
      cursor: pointer;
      margin-top: 15px;
      margin-bottom: 30px;
  }